<html>

<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

	<div class='content-container'>
		<h1>todos</h1>
		<div class="todo-container">
			<div class="todo-background">
				<input id="new-todo" placeholder="What needs to be done?" />
				<img src='http://cl.ly/image/18210f180R3u/Screen%20Shot%202013-09-30%20at%2010.13.48%20PM.png' />
			</div>
			<ul class="todos-list"></div>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
	<script type="text/javascript" src='script.js'></script>
	<script type="text/template" id="todo-template">
  		<input type='checkbox' class='toggle' <% if(completed) { %>checked<%}%> />
  		<label <% if(completed) { %>class='checked'<%}%>><%= title %></label>
  		<button class="destroy"></button>
	</script>
</body>

</html>